Thank's for registration, <%= @user.login %>
=================================================
Your Verification link: <a href=<%=verification_link(@user)%>></a>
=================================================