<h1>Welcome to dictionary!</h1>
<p>
  <p>Supported languages:</p>
	<% $langs.each do |lang| %>
    <tp> <%= "#{lang},\t" %> </tp>
  <% end %>
</p>

<%= render partial: "interpretation_request_form"%>

<%= render partial: "interpretations", locals: {title: "Interpretations: ", interpretations: @translations} %>

<%= render partial: "interpretations", locals: {title: "History of interpretations: ", interpretations: @history} %>